@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tarea 2C</h1>
    <h2 class="display-7">Santiago Badiola</h2>
</div>

<a asp-controller="Libro" asp-action="GetAllLibros">Listar libros CRUD</a>
